<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.57.0.2637" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>