<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MORT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="GSTrans"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MORT.Properties.Settings>
      <setting name="MORT_VERSION" serializeAs="String">
        <value>1.211V</value>
      </setting>
      <setting name="LAYER_TEXT" serializeAs="String">
        <value>MORT {0}
레이어 번역창</value>
      </setting>
      <setting name="MORT_VERSION_VALUE" serializeAs="String">
        <value>1211</value>
      </setting>
      <setting name="TOOLTIP_LIST" serializeAs="String">
        <value>MORT를 처음 쓰시면 그 외-&gt; MORT 사용법을 확인해 주세요,
OCR 영역에서 특정 부위만 추출을 제외하고 싶으면 제외 영역을 사용하시면 됩니다,
WIN OCR은 윈도우10에서 사용할 수 있습니다,
이미지 보정에서 RGB로 추출은 폰트가 완벽한 단색일 때만 사용합니다,
원하는 OCR 영역을 설정 후 한 번만 추출하기 원하면 스냅샷을 이용하면 됩니다
단축키(기본): ctrl+shift+A,
현재 설정된 OCR 영역을 한 번만 추출하기 원하면 한 번만 번역을 이용하면 됩니다
단축키(기본): ctrl+shift+C,
OCR 영역을 빠르게 추가하고 싶을 땐 빠른 OCR 영역을 사용하시면 됩니다
적용을 누르지 않아도 바로 추가되지만 설정에 저장되진 않습니다
단축키(기본): ctrl+shift+X,
교정 사전을 이용한 추출한 문장을 자동으로 수정한 단어로 바꿀 수 있습니다
단축키(기본): ctrl+shift+S,
단축키 설정은 그 외 탭에서 설정할 수 있습니다,
일본어를 추출할 땐 텍스트-&gt;부가설정-&gt;OCR 결과 공백 제거를 꼭 활성화해주셔야 합니다,
클립보드에 저장 기능을 사용하면 OCR 결과를 자동으로 클립보드에 저장합니다.
다른 후커와 이용할 때 유용합니다,
여러분의 후원금은 저에게 큰 도움이 됩니다,
토스로도 후원하실 수 있습니다,
사용자 설정 파일은 UserData 폴더에 있습니다,
부가설정 -&gt; 설정 검색하기를 이용해 게임 설정을 검색할 수 있습니다,
강제 투명화 유지를 활성화 하면 한 번만 번역하기나 스냅샷 처리 후에도 번역창이 투명 상태로 유지됩니다
활성화 법 : 레이어 번역창 -&gt; 오른쪽 클릭 -&gt; 강제 투명화 유지</value>
      </setting>
      <setting name="TOOLTIP_DIC" serializeAs="String">
        <value>추출한 OCR 문장 중 일부를 교정사전에 등록된 단어로 변경합니다.</value>
      </setting>
      <setting name="TOOLTIP_WORDDIC" serializeAs="String">
        <value>활성화시 완벽히 일치하는 단어만 교정합니다.

예 : ocr 문장 - it possible to it poss  / 교정사전 : it poss -&gt; it home
활성화 시 : it possible to it home
비활성화 시 : it homeible to it home</value>
      </setting>
      <setting name="TOOLTIP_OCRSAVE" serializeAs="String">
        <value>추출한 OCR문장과 번역 결과를 ocrResult.txt에 db형식으로 저장합니다</value>
      </setting>
      <setting name="TOOLTIP_SHOW_OCR_RESULT" serializeAs="String">
        <value>활성화시 번역창에 OCR문장을 표시합니다. 비활성화시 번역된 문장만 나옵니다.</value>
      </setting>
      <setting name="TOOLTIP_CLIPBOARD" serializeAs="String">
        <value>추출한 OCR문장을 클립보드에 저장합니다</value>
      </setting>
      <setting name="TOOLTIP_RGB" serializeAs="String">
        <value>추출할 문장의 폰트색이 완벽한 단색일 때 사용합니다.</value>
      </setting>
      <setting name="TOOLTIP_HSV" serializeAs="String">
        <value>색 영역을 이용해 추출한 문장의 폰트색을 지정합니다.</value>
      </setting>
      <setting name="MORT_RELEASE" serializeAs="String">
        <value>2020 11 16</value>
      </setting>
      <setting name="TOOLTIP_MULTI_DB" serializeAs="String">
        <value>DB 번역문 검색시 OCR 추출 문장에 포함 된 번역문을 모두 가져옵니다.</value>
      </setting>
      <setting name="BASIC_TEXT" serializeAs="String">
        <value>
Monkeyhead's OCR Realtime TransLate {0}
제작자 : 몽키해드
로고제작 : 김엠엘
블로그 :
몽키해드 : https://blog.naver.com/killkimno
엠엘이 : http://blog.naver.com/sabon2000
        </value>
      </setting>
    </MORT.Properties.Settings>
  </applicationSettings>
</configuration>
